/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

&bt {
    status = "okay";  // Enable Bluetooth
    name = "Goga_numpad";  // Optional: Set Bluetooth device name
    advertise = "1";  // Enable Bluetooth advertising
};

/ {
    keymap {
        compatible = "zmk,keymap";

        // Default layer for numpad
        default_layer {
            bindings = <
                &kp LPAR    &kp RPAR    &kp C_CIRC    &kp KPAST
                &kp N7      &kp N8      &kp N9        &kp KPSLSH
                &kp N4      &kp N5      &kp N6        &kp KPMINS
                &kp N1      &kp N2      &kp N3        &kp KPPLUS
                &kp N0      &kp KDOT   &kp KPEQL     &kp KPENT
                &mo 1       // Momentary layer toggle for Bluetooth control (layer 1)
            >;
        };

        // Layer 1 for Bluetooth control
        layer_1 {
            bindings = <
                &bt BT_CLR   &bt BT_RESET   &bt BT_TOG   &trans
                &bt BT_SEL 0 &bt BT_SEL 1   &bt BT_SEL 2 &trans
                &bt BT_SEL 3 &bt BT_SEL 4   &trans       &trans
                &trans       &trans         &trans       &trans
                &trans       &trans         &trans       &trans
            >;
        };
    };
};
